*{
    margin: 0;
    padding: 0;
}

#map-GM{
    height: 400px;
    width: 100%;
    background-color: #333;
}
.map-icon-label .map-icon {
	font-size: 6px;
	color: #000;
	line-height: 48px;
	text-align: center;
	white-space: nowrap;
}